<!DOCTYPE html>
<html>
  <head>
    <meta name="baidu-site-verification" content="7MRR9wznT2" />
    <meta charset=utf-8 />
    <title>
      {% if page.title %} {{ page.title }} | {% endif %} 
    </title>
    <link rel="stylesheet" href="/css/pygments.css" />
  </head>
<div id="main">

  <body>
      <header>
		...
        <header>
          <nav role="navigation">
		  <div class="bigtitle">
            <ul>
			<img src="/img/positive.png" width=700 height=120 />
			<p>
              <li>
                <a href="/"> Home </a>
              </li>
              <li>
                <a href="/archive/index.html"> Archive </a>
              </li>
              <li>
                <a href="/categories/index.html"> Categories</a>
              </li>
              <li>
                <a href="/note/index.html"> Note</a>
              </li>
              <li>
                <a href="/about/index.html"> About </a>
              </li>
            </ul>
		</div>
         </nav>

          {{ content }}
          <footer>
            <p>
            <div align="center"><a href="http://www.amazingcounters.com"><img border="0" src="http://cc.amazingcounters.com/counter.php?i=3176676&c=9530341" alt="AmazingCounters.com"></a></div>
              @copy; Luoluo 2011-2014 | All Rights Reserved.
            </p>
          </footer>
  </body>
  </div>

</html>
